<ngx-spinner
bdOpacity = 0.2
bdColor = "#6610f2"
size = "medium"
color = "#fff"
type = "ball-clip-rotate-multiple"
fullScreen = "true"
>
<br><br><br>
<p style="color: white" > <img src="../assets/img/logo.png" ></p>
<br>
<p style="color: white" > Loading... </p>
</ngx-spinner>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><img src="../assets/img/logo.png" style="height: 2.5rem;" ></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
       
        <li class="nav-item">
          <a class="nav-link"  *ngIf="auth.loggedIn()" routerLink="/specialEvents" routerLinkActive="active">Dashboard <i class="fas fa-tachometer-alt"></i> <span class="sr-only">(current)</span></a>
        </li>
      
       
      </ul>
      <ul class="navbar-nav">
          <li class="nav-item ">
              <a class="nav-link" *ngIf="!auth.loggedIn()" routerLink="/login" routerLinkActive="active">Login <i class="fas fa-sign-in-alt"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  *ngIf="!auth.loggedIn()" routerLink="/register" routerLinkActive="active">Register <i class="fas fa-file-signature"></i></a>
            </li>
            
           
            <li class="nav-item ">
                <a class="nav-link" *ngIf="auth.loggedIn()" (click)="logout()" routerLinkActive="active">Logout <i class="fas fa-sign-out-alt"></i></a>
              </li>
  
        </ul>
    
    </div>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div> 

  
  