




<mat-form-field class="mt-5">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  
  
  
  
  <div class="container">
    <div class="row">
    <div class="col-md-3">
      <div class="card-counter primary">
        <i class="fa fa-users"></i>
        <span class="count-numbers">{{this.appchart1[0]}}</span>
        <span class="count-name">Users</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter danger">
        <i class="fa fa-ticket"></i>
        <span class="count-numbers">{{this.appchart1[1]}}</span>
        <span class="count-name">Items</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter success">
      
        <i class="fa fa-cog" aria-hidden="true"></i>
       <span class="count-numbers">{{this.appchart1[2]}}</span>
        <span class="count-name">Orders</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter info">
        <i class="fa fa-users"></i>
        <span class="count-numbers">{{this.appchart1[3]}}</span>
        <span class="count-name">Delivered</span>
      </div>
    </div>
  </div>
</div>


      <div class="row mt-5">
        <div class="col-md-12">
          <div style="display: block;">
          <canvas baseChart width="100" height="40"
                      [datasets]="lineChartData"
                      [labels]="lineChartLabels"
                      [options]="lineChartOptions"
                      [colors]="lineChartColors"
                      [legend]="lineChartLegend"
                      [chartType]="lineChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
        <!-- <div class="col-md-6" style="margin-bottom: 10px">
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
             
              <ng-container matColumnDef="January">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> January </th>
                <td mat-cell *matCellDef="let row"> {{row.data[0]}} </td>
              </ng-container>
              <ng-container matColumnDef="February">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> February </th>
                <td mat-cell *matCellDef="let row"> {{row.data[1]}} </td>
              </ng-container>
              <ng-container matColumnDef="March">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> March </th>
                <td mat-cell *matCellDef="let row"> {{row.data[2]}} </td>
              </ng-container>
              <ng-container matColumnDef="April">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> April </th>
                <td mat-cell *matCellDef="let row"> {{row.data[3]}} </td>
              </ng-container>
              <ng-container matColumnDef="May">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> May </th>
                <td mat-cell *matCellDef="let row"> {{row.data[4]}} </td>
              </ng-container>
             
              
          
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;">
              </tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[3, 10, 25, 100]"></mat-paginator>
          </div>

          <button class='mt-5 '(click)="randomize()" mat-raised-button color="primary"
      matBadgeColor="accent">
    Toggle Data
  </button>
        </div> -->
      </div>

      
    <div class="row mt-5">
      <div class="col-md-12">
          <app-chart [appchart1]='appchart1' ></app-chart>
      </div>
      
 
  
   
    
        
  </div>
   