




<mat-form-field class="mt-5">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  
  
  
  



      <div class="row mt-5">
        <div class="col-md-6">
          <div style="display: block;">
          <canvas baseChart width="200" height="150"
                      [datasets]="lineChartData"
                      [labels]="lineChartLabels"
                      [options]="lineChartOptions"
                      [colors]="lineChartColors"
                      [legend]="lineChartLegend"
                      [chartType]="lineChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
        <div class="col-md-6" style="margin-bottom: 10px">
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
             
              <ng-container matColumnDef="January">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> January </th>
                <td mat-cell *matCellDef="let row"> {{row.data[0]}} </td>
              </ng-container>
              <ng-container matColumnDef="February">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> February </th>
                <td mat-cell *matCellDef="let row"> {{row.data[1]}} </td>
              </ng-container>
              <ng-container matColumnDef="March">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> March </th>
                <td mat-cell *matCellDef="let row"> {{row.data[2]}} </td>
              </ng-container>
              <ng-container matColumnDef="April">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> April </th>
                <td mat-cell *matCellDef="let row"> {{row.data[3]}} </td>
              </ng-container>
              <ng-container matColumnDef="May">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> May </th>
                <td mat-cell *matCellDef="let row"> {{row.data[4]}} </td>
              </ng-container>
             
              
          
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;">
              </tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[3, 10, 25, 100]"></mat-paginator>
          </div>

          <button class='mt-5 '(click)="randomize()" mat-raised-button color="primary"
      matBadgeColor="accent">
    Toggle Data
  </button>
        </div>
      </div>

      
    <div class="row mt-5">
      <div class="col-md-4">
          <app-chart [appchart1]='appchart1'></app-chart>
    </div>
    <div class="col-md-4">
        <app-chart [appchart2]='appchart2'></app-chart>
      </div>
      <div class="col-md-4">
          <app-chart [appchart3]='appchart3'></app-chart>
        </div>
        
  </div>
   